[submodule "config/awesome"]
	path = config/awesome
	url = https://github.com/tony/awesome-config.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/tony/vim-config.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/tony/tmux-config.git
[submodule ".fonts"]
	path = .fonts
	url = https://github.com/tony/dot-fonts.git
[submodule ".urxvt-perls"]
	path = .urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".i3"]
	path = .i3
	url = https://github.com/tony/i3-config.git
[submodule ".tmuxp"]
	path = .tmuxp
	url = https://github.com/tony/tmuxp-config.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".spectrwm"]
	path = .spectrwm
	url = https://github.com/tony/spectrwm-config.git
