[user]
  email = tony@git-pull.com
  name = Tony Narlock
[color]
  diff = auto
  branch = auto
  status = auto
  ui = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = simple
  autoSetupRemote = true
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  quotepath = false
  pager = less -r
[web]
  browser = google-chrome
[url "ssh://git@github.com/tony"]
  insteadOf = https://github.com/tony
# Disable for bitbucket, gives prompts.
#[url "ssh://git@bitbucket.org/"]
#  insteadOf = https://bitbucket.org/
[pull]
  rebase = false
# [blame]
#   ignoreRevsFile = .git-blame-ignore-revs
[init]
  defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	sweep = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
