[user]
  email = tony@git-pull.com
  name = Tony Narlock
[color]
  diff = auto
  branch = auto
  status = auto
  ui = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = simple
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  quotepath = false
  pager = less -r
[web]
  browser = google-chrome
#[url "ssh://git@github.com/"]
#  insteadOf = https://github.com/
# Disable for bitbucket, gives prompts.
#[url "ssh://git@bitbucket.org/"]
#  insteadOf = https://bitbucket.org/
