[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/tony/awesome-config.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/tony/vim-config.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:tony/tmux-config.git
[submodule ".fonts"]
	path = .fonts
	url = git@github.com:tony/dot-fonts.git
[submodule ".urxvt-perls"]
	path = .urxvt-perls
	url = git@github.com:muennich/urxvt-perls.git
