[submodule ".vim"]
	path = .vim
	url = https://github.com/tony/vim-config-framework.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/tony/tmux-config.git
[submodule ".tmuxp"]
	path = .tmuxp
	url = https://github.com/tony/tmuxp-config.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
