[user]
  email = tony@git-pull.com
  name = Tony Narlock
[color]
  diff = auto
  branch = auto
  status = auto
  ui = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = simple
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  quotepath = false
  pager = less -r
[web]
  browser = google-chrome
[url "ssh://git@github.com/tony"]
  insteadOf = https://github.com/tony
# Disable for bitbucket, gives prompts.
#[url "ssh://git@bitbucket.org/"]
#  insteadOf = https://bitbucket.org/
[pull]
	rebase = false
# [blame]
# 	ignoreRevsFile = .git-blame-ignore-revs
[init]
	defaultBranch = master
