URxvt.font:             xft:Sauce Code Powerline-10:hint=True;antialias:True,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
URxvt.boldFont:             xft:Sauce Code Powerline-10:bold;hint=True;antialias:True,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True
URxvt.letterSpace:      -1


! URxvt.fading: 0
! URxvt.background: rgba:0000/0000/0000/efef
! URxvt.foreground: 15

!!URxvt.meta8: true
URxvt.depth: 32
!! --- URxvt ---
URxvt*intensityStyles: false
URxvt*internalBorder: 1
! URxvt.keysym.C-plus: command:\033]710;xft:monospace:size=9\007\033]711;xft:monospace:size=9\007
! URxvt.keysym.C-minus: command:\033]710;xft:monospace:size=8\007\033]711;xft:monospace:size=8\007
!!URxvt*transparent: true
!!URxvt*.shading:  25

URxvt.inputMethod: fcitx
!!URxvt.preeditType: OnTheSpot,None
URxvt.preeditType: OverTheSpot

URxvt*scrollBar_right: false
URxvt*scrollBar: false

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.tabbed.tabbar-bg: -1
URxvt.scrollBar:        false
URxvt.urgentOnBell:     true
URxvt.imLocale:         en_US.UTF-8
URxvt.cursorBlink:      true


URxvt.borderless:       true
URxvt*perl-ext-common:  default,matcher
URxvt*urlLauncher:      x-www-browser
URxvt*matcher.button:   1
URxvt.searchable-scrollback: CM-s

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt.background:              S_base03
URxvt.foreground:              S_base0
URxvt.fading:                  40
URxvt.fadeColor:               S_base03
URxvt.cursorColor:             S_base1
URxvt.pointerColorBackground:  S_base01
URxvt.pointerColorForeground:  S_base1

URxvt.color0:                  S_base02
URxvt.color1:                  S_red
URxvt.color2:                  S_green
URxvt.color3:                  S_yellow
URxvt.color4:                  S_blue
URxvt.color5:                  S_magenta
URxvt.color6:                  S_cyan
URxvt.color7:                  S_base2
URxvt.color8:                  S_base03
URxvt.color9:                  S_orange
URxvt.color10:                 S_base01
URxvt.color11:                 S_base00
URxvt.color12:                 S_base0
URxvt.color13:                 S_violet
URxvt.color14:                 S_base1
URxvt.color15:                 S_base3

! URxvt.cursorColor:      #ff9900
! URxvt.cursorColor2:     #000000
! URxvt.colorBD:          #ffffff
! URxvt.colorIT:          #bbbbbb
! URxvt.colorUL:          #ff9900
! URxvt.underlineColor:   #999999

! ! babilen colour
! !
! ! black
! !
! *color0:    #262729
! *color8:    #554444

! !red
! *color1:    #F92672
! *color9:    #FF669D

! !green
! *color2:    #A6E22E
! *color10:   #BEED5F

! !yellow
! *color3:    #FD971F
! *color11:   #FD971F

! !blue
! *color4:    #4682B4
! *color12:   #4682B4

! !!magenta
! *color5:    #AE81FF
! *color13:   #AE81FF

! ! cyan
! *color6:    #89b6e2
! *color14:   #46a4ff

! ! white
! *color7:    #FFFFFF
! *color15:   #FFFFFF

