

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

!! Droid Sans Mono
!!URxvt.font:             xft:Droid Sans Mono for Powerline-10:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
!!URxvt.boldFont:             xft:Droid Sans Mono for Powerline-10:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True

!! Sauce Code Pro
URxvt.font:             xft:Source Code Pro for Powerline-10:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
URxvt.boldFont:             xft:Source Code Pro for Powerline-10:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True
URxvt.letterSpace:      0




!! URxvt.meta8: true
!!URxvt.depth: 32
!! --- URxvt ---
URxvt*intensityStyles: false
URxvt*internalBorder: 1
!!URxvt*transparent: true
!!URxvt*.shading:  25

URxvt.inputMethod: fcitx
!!URxvt.preeditType: OnTheSpot,None
URxvt.preeditType: OverTheSpot

URxvt*scrollBar_right: false
URxvt*scrollBar: false

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.tabbed.tabbar-bg: -1
URxvt.scrollBar:        false
URxvt.urgentOnBell:     true
URxvt.imLocale:         en_US.UTF-8
URxvt.cursorBlink:      true


URxvt.borderless:       true
URxvt*perl-ext-common:  default,matcher
URxvt*urlLauncher:      x-www-browser
URxvt*matcher.button:   1
URxvt.searchable-scrollback: CM-s


!! colors from base16

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #ac4142
#define base09 #d28445
#define base0A #f4bf75
#define base0B #90a959
#define base0C #75b5aa
#define base0D #6a9fb5
#define base0E #aa759f
#define base0F #8f5536

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07
